@model AWWW_lab3_gr2.Models.Player

<h1>Dodaj zawodnika</h1>
<form asp-action="Add" asp-controller="Player" method="POST">
    <p>
        <label asp-for="FirstName">Imie:</label>
        <input asp-for="FirstName" />
    </p>
    <p>
        <label asp-for="LastName">Nazwisko:</label>
        <input asp-for="LastName" />
    </p>
    <p>
        <label asp-for="Country">Kraj:</label>
        <input asp-for="Country" />
    </p>
    <p>
        <label asp-for="BirthDate">Data urodzenia:</label>
        <input asp-for="BirthDate" type="date" />
    </p>
    <p>
        @foreach (var position in ViewBag.positionsList as IEnumerable<SelectListItem>)
        {
        <div>
            <input type="checkbox" name="positions" value="@position.Value" id="position_@position.Value" />
            <label for="position_@position.Value">@position.Text</label>
        </div>
        }
    </p>
    <p>
        <label asp-for="TeamId">Druyna:</label>
        <select asp-for="TeamId" asp-items="@ViewBag.teamsList"></select>
    </p>
    <button type="submit" class="btn btn-primary">Dodaj</button>
</form>