@model ICollection<AWWW_lab2_gr2.Models.League>

<a asp-controller="league" asp-action="add">Dodaj Ligę</a>
<br>

Lista Lig:
<ol>
    @foreach(AWWW_lab2_gr2.Models.League element in Model){
        <li>@element.Name, @element.Country, Level:@element.Level </li>
    }
</ol>

