@model AWWW_lab1_gr1.Models.Team
@{
    ViewBag.Title = "Create team";
}
<h1>@ViewBag.Title</h1>
<form asp-action="Create">
    <div>
        <label asp-for="Name">Name:</label>
        <input asp-for="Name" />
    </div>
    <div>
        <label asp-for="Country">Country:</label>
        <input asp-for="Country" />
    </div>
     <div>
        <label asp-for="City">City:</label>
        <input asp-for="City" />
    </div>
    <div>
        <label asp-for="FoundingDate"></label>
        <input asp-for="FoundingDate"/>
    </div>
    <div>
        <label asp-for="LeagueId">League:</label>
        <select asp-for="LeagueId" asp-items="ViewBag.Leagues"></select>
    </div>
    <button type="submit">Dodaj nowy</button>
</form>
