@model ICollection<AWWW_lab1_gr1.Models.Team>

<p><a asp-action="Add" asp-controller="Team">Dodaj</a></p>

@if(Model != null)
{
    @foreach(var team in Model)
    {
        <p><a asp-action="Details" asp-controller="Team" asp-route-id="@team.Id">@team.Id, @team.Name</a></p>
    }
}