@model Kolokwium.Models.Client;

<div class="text-center">
    <h1>Add new client</h1>
    <form method="post" asp-controller="client" asp-action="AddClient">
        <p>
            <label asp-for="RegistrationDate">Registration date: </label>
            <input asp-for="RegistrationDate" />
        </p>
        <p>
            <label asp-for="FirstName">First name: </label>
            <input asp-for="FirstName" />
        </p>
        <p>
            <label asp-for="LastName">Last name: </label>
            <input asp-for="LastName" />
        </p>
        <p>
            <label asp-for="Email">E-mail: </label>
            <input asp-for="Email" />
        </p>
        <p>
            <label asp-for="Phone">Phone: </label>
            <input asp-for="Phone" />
        </p>

        <p>
            <label asp-for="Orders">Orders: </label>
            <select multiple="multiple" asp-for="Orders" asp-items="@ViewBag.ordersList" />
        </p>

        <input type="submit" value="OK" />
    </form>
</div>