@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    Layout = "/Areas/Identity/Pages/_Layout.cshtml";
}

    <h2>@Localizer["Manage_your_account"]</h2>

<div>
    <h4>@Localizer["Change_your_account_settings"]</h4>
    <hr />
    <div class="row">
        <div class="col-md-3">
            <partial name="_ManageNav" />
        </div>
        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
