@model AWWW_lab1_gr1.Models.Category

<h1>Dodaj kategorie</h1>

<form asp-action="Add" method="post" class="w3-container">
    <p>
        <label asp-for="Name">Name:</label>
        <input asp-for="Name" class="w3-input w3-border"/>
    </p>
    
    <p>
        <button type="submit" class="w3-btn w3-border">Dodaj</button>
    </p>
</form>