@model IEnumerable<Position>
 
<h2>Positions List</h2>
<p><a asp-action="Create">Add position</a></p>
<table class="table">
     <tr><th>Name</th></tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Name</td>
        </tr>
    }
</table>