@model AWWW_lab2_gr2.Models.Category;

<form asp-controller="category" asp-action="add" method="POST">
    Nazwa Kategorii: <input type="text" asp-for="Name"><br>

    <input type="submit" value="Wyślij">
</form>