@model AWWW_lab2_gr2.Models.Author

<h1>Dodano autora:</h1>

<div class="w3-card">
    <header class="w3-container w3-blue">
        <h1>@Model.Id</h1>
    </header>

    <div class="w3-container">
        <p>@Model.FirstName</p>
        <p>@Model.LastName</p>
    </div>
</div>
