@model IEnumerable<AWWW_lab2_gr2.Models.Author>

<h1>Autors</h1>

<div class="w3-card">
    @foreach (var author in Model)
    {
        <div class="w3-container">
            <p>Imie: @author.FirstName</p>
            <p>Nazwisko: @author.LastName</p>
        </div>
    }
</div>
