@model AWWW_lab2_gr1.Models.EventType;

<h1>Delete</h1>
<p>@Model.Name</p>
<form asp-action="Delete" method="post">
    <p>Czy usunąć typ eventu?</p>
    <input type="hidden" asp-for="Id" />
    <p>
        <button type="submit" class="w3-btn w3-border">Usuń</button>
    </p>
</form>