@model AWWW_lab2_gr1.Models.EventType;

<h1>Details</h1>

<div>
    <h4>Pozycja</h4>
    <hr />
    <p>ID: : @Model.Id</p>
    <p>Nazwa typu eventu: @Model.Name</p>
    <hr />
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>