
@model AWWW_lab1_gr2.Models.Team;

<h1 class="h1">@ViewBag.Title</h1>


<form class="Form_Dodaj" asp-action="Add">
    <label for="in_name">Nazwa: </label>
    <input id="in_name" class="form-control" asp-for="Name" type="text" required>

    <label for="in_country">Państwo: </label>
    <input id="in_country" class="form-control" asp-for="Country" type="text">

    <label for="in_city">Miasto: </label>
    <input id="in_city" class="form-control" asp-for="City" type="text">

    <button class="btn btn-primary" type="submit">Dodaj</button>
</form>