@model IEnumerable<League>
 
<h2>Leagues List</h2>
<p><a asp-action="Create">Add League</a></p>
<table class="table">
     <tr><th>Name</th><th>Country</th><th>Level</th></tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.Country</td>
            <td>@item.Level</td>
        </tr>
    }
</table>