@model AWWW_lab3_gr2.Models.Author

<h1>Dodaj Autora</h1>

<form asp-action="Add" method="post">
    <p>
        <label asp-for="FirstName">Imie:</label>
        <input asp-for="FirstName" type="text" class="w3-input w3-border" />
    </p>
    <p>
        <label asp-for="LastName">Nazwisko:</label>
        <input asp-for="LastName" class="w3-input w3-border">
    </p>
    <p>
        <button type="submit" class="w3-btn w3-border">Dodaj</button>
    </p>
</form>
