@model AWWW_lab3_gr2.Models.Author

<h1>Dodano autora:</h1>

<div class="w3-card">
    <div class="w3-container">
        <p>Id: @Model.Id</p>
        <p>Imie: @Model.FirstName</p>
        <p>Nazwisko: @Model.LastName</p>
    </div>
</div>
