@model AWWW_lab3_gr2.Models.Author

<h1>Autor</h1>

<div class="w3-card">

    <div class="w3-container">
        <p>Imie: @Model.FirstName</p>
        <p>Nazwisko: @Model.LastName</p>
    </div>
</div>
