@model AWWW_lab1_gr5.Models.Author

<h2>Create Author</h2>

<form asp-action="Create">
    <div class="form-group">
        <label for="FirstName">First Name:</label>
        <input type="text" id="FirstName" name="FirstName" class="form-control" />
    </div>
    <div class="form-group">
        <label for="LastName">Last Name:</label>
        <input type="text" id="LastName" name="LastName" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
</form>
