@model AWWW_lab1_gr5.Author

<h1>Dodaj authora</h1>

<form asp-action="Add" method="post" class="w3-container">
    <p>
        <label asp-for="FirstName">Imie:</label>
        <input asp-for="FirstName" class="w3-input w3-border"/>
    </p>

    <p>
        <label asp-for="LastName">Nazwisko:</label>
        <input asp-for="LastName" class="w3-input w3-border" />
    </p>



</form>