@model AWWW_lab1_gr5.Models.Author

<h1>Author</h1>

<div class="w3-card">
    <header class="w3-container w3-blue">
        <h1>@Model.FirstName</h1>
    </header>

    <div class="w3-container">
        <p>@Model.LastName</p>
    </div>

</div>


