@model AWWW_lab1_gr5.Author

<h1>Dodano autora: </h1>

<div class="w3-card">
    <header class="w3-container">
        <h1>@Model.FirstName</h1>
    </header>

    <header class="w3-container">
        <h1>@Model.LastName</h1>
    </header>


</div>