@model IEnumerable<Student>

<h1>Lista studentów</h1>

<p>
    <ul>
        @foreach(Student item in Model){
            <li><a asp-controller='student' asp-action='details' asp-route-id=@item.Id>@item.FirstName @item.LastName</a></li>
        }
    </ul>
</p>