@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelper

<h1>@ViewBag.Title</h1>

<p>Witamy na stronie głównej</p>

<p> 
    Artykuły:

    <ul>
        <li><a asp-controller="article" asp-action="index">Artykuł 1</a></li>
    </ul>

</p>