
<h1>@ViewBag.Title</h1>

<p>Witam na stronie głównej</p>

<p>
    Artukuły
    <ul>
        <li><a asp-controller="article" asp-action="index">Artukuł 1</a></li>
        <li><a asp-controller="article" asp-action="index">Artukuł 2</a></li>
        <li><a asp-controller="article" asp-action="index">Artukuł 3</a></li>
    </ul>
</p>