
<h1>@ViewBag.Title</h1>

<p>Witam na stronie głównej</p>

<p>
    Artukuły
    <ul>
        <li><a asp-controller="article" asp-action="index" asp-route-id=1>Artukuł 1</a></li>
        <li><a asp-controller="article" asp-action="index" asp-route-id=2>Artukuł 2</a></li>
        <li><a asp-controller="article" asp-action="index" asp-route-id=3>Artukuł 3</a></li>
    </ul>
</p>