@model AWWW_lab2_gr2.Models.Position;

<h1>Wprowadź dane pozycji</h1>

<form method="post" asp-controller="position" asp-action="add">
    <p>
        <label asp-for="Name" for="name">Name:</label><br>
        <input asp-for="Name" type="text" name="name">
        <p class="errorMsg">@ViewBag.Error</p>
    </p>
    <p>
        <button type="submit">Submit</button>
    </p>

</form>