@model AWWW_lab2_gr2.Models.Position;

<form asp-controller="position" asp-action="add" method="POST">
    Nazwa pozycji: <input type="text" asp-for="Name"><br>

    <input type="submit" value="Wyślij">
</form>