@model IEnumerable<AWWW_lab1_gr2.Models.Position>


<div class="main">
    <div class="container">
        <div class="title">
            <h1>@ViewBag.Title</h1>
        </div>
        <div class="authors">
            @foreach(var position in Model){
                <li>
                    <div asp-route-id="@position.PositionId">@position.Name</div> 
                </li>
            }
        </div>
        <div class="addPosition">
            <a asp-action="form" asp-controller="Position">Dodaj pozycje</a>
        </div>
    </div>
</div>