@model AWWW_lab2_gr2.Models.Tag

<h1>Dodaj Tag</h1>

<form asp-action="Add" method="post" class="w3-container">
    <p>
        <label asp-for="Name">Nazwa:</label>
        <input asp-for="Name" class="w3-input w3-border" />
    <p>
        <button type="submit" class="w3-btn w3-border">Dodaj</button>
    </p>
</form>
