@model AWW_lab2_gr1.Models.Tag

<h2 class="page-title">
  @if (Model.Id != 0)
  {
    @: Edit Tag
  }
  else
  {
    @: Add new Tag
  }
</h2>


<form asp-action="Save" method="post">
  @Html.HiddenFor(model => model.Id)
  <div class="form-element">
    <label asp-for="Name">Name:</label>
    <input type="text" asp-for="Name">
  </div>

  <button class="primary-button" type="submit">
    @if (Model.Id != 0)
    {
      @: Save
    }
    else
    {
      @: Add
    }</button>
</form>