<h1>@ViewBag.Title</h1>

<p>Witamy na stornie głównej</p>

<p>Baza informacji
<ul>
  <li>
    <a asp-controller="Author" asp-action="index">Autorzy</a>
  </li>
  <li>
    <a asp-controller="Category" asp-action="index">Kategorie</a>
  </li>
  <li>
    <a asp-controller="Tag" asp-action="index">Tagi</a>
  </li>
  <li>
    <a asp-controller="Position" asp-action="index">Pozycje</a>
  </li>
  <li>
    <a asp-controller="EventType" asp-action="index">Typy Eventów</a>
  </li>
  <li>
    <a asp-controller="League" asp-action="index">Ligi</a>
  </li>
</ul>
</p>
