@using AWWW_lab1_gr1.Models
<h1>@ViewBag.Title</h1>

<p>Witamy na stronie glównej</p>

<p>
    Artykuły:
    <ul>
        <li><a asp-controller="article" asp-action="index" asp-route-id="1">Artykuł 1</a></li>
        <li><a asp-controller="article" asp-action="index" asp-route-id="2">Artykuł 2</a></li>
        <li><a asp-controller="article" asp-action="index" asp-route-id="3">Artykuł 3</a></li>
    </ul>
        <ul>
        <li><a asp-controller="student" asp-action="index" asp-route-id="1">Student1</a></li>
        <li><a asp-controller="student" asp-action="index" asp-route-id="2">Student2</a></li>
        <li><a asp-controller="student" asp-action="index" asp-route-id="3">Student3</a></li>
    </ul>
    
</p>

