<h1>@ViewBag.Title</h1>

<p>Witamy na stronie głównej</p>

<p>
    Artykuły:

    <ul>
        <li><a asp-controller="Article" asp-action="Index">Artykuł 1</a></li>
        <li><a asp-controller="Article" asp-action="Index">Artykuł 2</a></li>
        <li><a asp-controller="Article" asp-action="Index">Artykuł 3</a></li>
    </ul>

    Studenci:

    <ul>
        <li><a asp-controller="Student" asp-action="Index">Student 1</a></li>
        <li><a asp-controller="Student" asp-action="Index">Student 2</a></li>
        <li><a asp-controller="Student" asp-action="Index">Student 3</a></li>
    </ul>
</p>