@model ICollection<AWWW_lab1_gr1.Models.Author>

<div class="container">
    <h1 class="main-title">@ViewBag.Title</h1>

    <p class="welcome-text">Witamy na stronie głównej</p>

    <div>
        <h2><a asp-controller="Article" asp-action="Index">Artykuły:</a></h2>
    </div>

    <div>
        <h2><a asp-controller="Author" asp-action="Index">Autorzy:</a></h2>
    </div>
    <div>
        <h2><a asp-controller="Category" asp-action="Index">Kategorie:</a></h2>
    </div>
    <div>
        <h2><a asp-controller="Tag" asp-action="Index">Tagi:</a></h2>
    </div>
    <div>
        <h2><a asp-controller="League" asp-action="Index">Ligi:</a></h2>
    </div>
    <div>
        <h2><a asp-controller="EventType" asp-action="Index">Rodzaje wydarzeń:</a></h2>
    </div>
    <div>
        <h2><a asp-controller="Position" asp-action="Index">Pozycje:</a></h2>
    </div>
</div>
