@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<h1>@ViewBag.Title</h1>

<p>Witamy na stronie głownej</p>

<p>
    Artykuły:

    <ul>
        <li><a asp-controller="article" asp-action="index">Artykuł 1</a></li>
    </ul>

</p>