@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers 
<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
</head>
<body>

<h1>@ViewBag.Title</h1>
<p>Witamy na stronie głownej</p>
<p>
    Artykuły:
    <ul>
        <li><a asp-controller="article" asp-action="index">Artykuł 1</a></li>
    </ul>
</p>
</body>
</html> 