@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

   <h1> @ViewBag.Title </h1>
   <P>Witam na stonie glownej</P>

   <p>
         Artykuly:
         <ul>
             <li><a asp-controller="article" asp-action="Article">Artykul 1</a></li>
         </ul>


   </p>


