@using AWWW_lab1_gr1.Models

<p class="title">Witamy na stronie</p>

<p>
    <p class="list-title">Artykuły:</p>

    <ul class="list-elements">
        <li><a class="text-dark" asp-controller="article" asp-action="Index" asp-route-id=1>Artykuł 1</a></li>
        <li><a class="text-dark" asp-controller="article" asp-action="Index" asp-route-id=2>Artykuł 2</a></li>
        <li><a class="text-dark" asp-controller="article" asp-action="Index" asp-route-id=3>Artykuł 3</a></li>
    </ul>

    
</p>

