<h1 class="page-title">@ViewBag.Title</h1>

<p>Witamy na stornie głównej</p>

<h2 class="page-subtitle">Artykuły</h2>
<ul class="list">
  <li>
    <a asp-controller="article" asp-action="index" asp-route-id=1>
      Artykuł 1
    </a>
  </li>

  <li>
    <a asp-controller="article" asp-action="index" asp-route-id=2>
      Artykuł 2
    </a>
  </li>

  <li>
    <a asp-controller="article" asp-action="index" asp-route-id=3>
      Artykuł 3
    </a>
  </li>
</ul>
