<h1>@ViewBag.Title</h1>
<p>Witamy na stronie głownej</p>
<p>
    Artykuł:
    <ul>
    <li><a asp-controller="article" asp-action="index" asp-rount-id=1>Artykuł 1</a></li>
    <li><a asp-controller="article" asp-action="index" asp-rount-id=1>Artykuł 2</a></li>
    <li><a asp-controller="article" asp-action="index" asp-rount-id=1>Artykuł 3</a></li>
    </ul>
</p>