@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<h1>@ViewBag.Title</h1>

<p>Witamy na stronie głównej</p>

<p>
    Artykuły:
    <ul>
        <li><a asp-controller="article" asp-action="index">Artykuł</a></li>
    </ul>
</p>