<h1 class="page-title">@ViewBag.Title</h1>

<p>Witamy na stornie głównej</p>

@* <h2 class="page-subtitle">Artykuły</h2> *@
@* <ul class="list"> *@

</ul>
@* <ul class="list">
@foreach (var item in ViewBag.students)
{
<li>
<a asp-controller="Student" asp-action="Show" asp-route-id="@item.Id">@item.FirstName @item.LastName</a>
</li>
}
</ul> *@