@model AWWW_lab1_gr2.Models.Player
<div class="main">
    <div class="container">
        <div class="title">
            <h1>@ViewBag.Title</h1>
        </div>
        <div class="form">
            <form asp-action="Add" asp-controller="Player">
                <label asp-for="FirstName"></label>
                <input asp-for="FirstName">
                <label asp-for="LastName"></label>
                <input asp-for="LastName">
                <label asp-for="Country"></label>
                <input asp-for="Country">
                <label asp-for="BirthDate"></label>
                <input type="date" asp-for="BirthDate">
                <label asp-for="Team"></label>
                <select asp-for="TeamId"asp-items="@ViewBag.Teams"></select>
                <select name="selectedPositionIds" asp-items="@ViewBag.Positions" multiple="multiple"></select>
                <button class="btnAdd">
                    <input type="submit">
                </button>
            </form>
        </div>
    </div>
</div>