@model AWWW_lab1_gr1.Models.Author

<h1>Dodaj artykuł</h1>

<form asp-action="Add" method="post" class="w3-container">
    <p>
        <label asp-for="FirstName">First name:</label>
        <input asp-for="FirstName" class="w3-input w3-border"/>
    </p>
    <p>
        <label asp-for="LastName">Last name:</label>
        <textarea asp-for="LastName" class="w3-input w3-border"></textarea>
    </p>
    <p>
        <button type="submit" class="w3-btn w3-border">Dodaj</button>
    </p>
</form>