@model AWWW_lab1_gr1.Models.Author

<form asp-action="Add" method="post">
    <label asp-for="FirstName">Imię: </label>
    <input asp-for="FirstName" /><br />
    <label asp-for="LastName">Nazwisko: </label>
    <input asp-for="LastName"/><br />
    <button type="submit">Dodaj</button>
</form>