@model ICollection<AWWW_lab1_gr1.Models.Author>

@if (Model != null)
{
    @foreach(var aut in Model) 
    {
        <h3><a asp-action="details" asp-controller="author" asp-route-id="@aut.Id">@aut.Id, @(aut.FirstName + " " + aut.LastName)</a></h3>
    }

}