@model ICollection<AWWW_lab1_gr1.Models.Author>

<p><a asp-action="Add" asp-controller="Author">Dodaj</a></p>

@if (Model != null)
{
    @foreach(var author in Model) 
    {
        <h3><a asp-action="Index" asp-controller="Author" asp-route-id="@author.AuthorId">@author.AuthorId, @(author.FirstName + " " + author.LastName)</a></h3>
    }
}