@model ICollection<AWWW_lab1_gr1.Models.Author>
 
<h2  class="text-block">Authors List</h2>
<a asp-action="Add"><p class="text-block">Add Author</p></a>
<table class="text-block">
     <tr><th><p>First Name</p></th><th><p>Last Name</p></th></tr>
    @foreach (var element in Model)
    {
        <tr>
            <td><p>@element.FirstName</p></td>
            <td><p>@element.LastName</p></td>
        </tr>
    }
</table>