@model IEnumerable<AWWW_lab1_gr2.Models.Tag>


<div class="main">
    <div class="container">
        <div class="title">
            <h1>@ViewBag.Title</h1>
        </div>
        <div class="authors">
            @foreach(var tag in Model){
                <li>
                    <div asp-route-id="@tag.TagId">@tag.Name</div> 
                </li>
            }
        </div>
        <div class="addTag">
            <a asp-action="form" asp-controller="Tag">Dodaj lige</a>
        </div>
    </div>
</div>