@model ICollection<AWWW_lab1_gr1.Models.League>

<p><a asp-action="Add" asp-controller="League">Dodaj</a></p>

@if (Model != null)
{
    @foreach(var le in Model) 
    {
        <h3><a asp-action="Index" asp-controller="League" asp-route-id="@le.Id">@le.Id, @(le.Name + ", " + le.Country + ", " + le.Level)</a></h3>
    }
}