@model AWWW_lab1_gr1.Models.League

<h1>League</h1>

<div class="w3-card">
    <header class="w3-container w3-blue">
        
    </header>

    <div class="w3-container">
        <p>@Model.Name</p>
        <p>@Model.Country</p>
        <p>@Model.Level</p>
    </div>
    
</div>


