@model ICollection<AWWW_lab1_gr1.Models.Position>

<p><a asp-action="Add" asp-controller="Position">Dodaj</a></p>

@if (Model != null)
{
    @foreach(var position in Model) 
    {
        <h3><a asp-action="Index" asp-controller="Position" asp-route-id="@position.Id">@position.Id, @(position.Name)</a></h3>
    }
}