@model ICollection<AWWW_lab1_gr1.Models.Position>
 
<h2 class="list-title">Position List</h2>
<a asp-action="Add" ><p class="text-block">Add Position</p></a>
<table class="text-block">
     <tr><th><a >Name</a></th></tr>
    @foreach (var element in Model)
    {
        <tr>
            <td><p>@element.Name</p></td>
        </tr>
    }
</table>