@model ICollection<AWWW_lab1_gr1.Models.Position>
 
<h2>Position List</h2>
<p><a asp-action="Add">Add Position</a></p>
<table class="table">
     <tr><th>Name</th></tr>
    @foreach (var element in Model)
    {
        <tr>
            <td>@element.Name</td>
        </tr>
    }
</table>