* {
    margin: 0; 
    box-sizing: border-box; 
}

body {
    font-family:Arial, Helvetica, sans-serif; 
    display: flex; 
    flex-direction: column; 
    overflow-x:hidden; 
}

ul {
    list-style: none; 
    padding: 0; 
}
a {
    text-decoration: none; 
    color: black; 
}

/* Nav */
nav {
    height: 3rem; 
    display: flex; 
    flex-direction: row; 
    background-color: rgb(86, 86, 250); 
    justify-content: left; 
    align-items: center; 
    position: sticky; 
    top: 0px; 
    width: 100vw; 
}

nav ul {
    list-style: none; 
    padding: 10px; 
}

nav ul li a {
    text-decoration: none; 
    color: white; 
}

nav ul li a:hover {
    color: grey; 
}


/* Main */
main { 
    display: flex; 
    flex-direction: column; 
    /* height: 100vh; 
    width: 100vw;  */
}

h1{
    font-size: 1.5rem; 
}
h2 {
    font-size: 1rem; 
}

/* Article */

.main {
    display: flex; 
    flex-direction: column; 
    justify-content: center;
    align-items: center; 
    height: 90vh; 
    width: 100vw; 
}

.container {
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: left; 
    padding: 3rem; 
    margin-top: 1rem; 
    margin: auto;
    border: 1px solid black; 
    box-shadow: 2px 7px 10px rgb(1,1,1,0.7);
}

.container-article {
    width: 80vw; 
}

.title {
    text-align: center; 
    margin-bottom: 1rem; 
    background-color: rgb(86, 86, 250); 
    padding: 1rem; 
    color: white; 
    text-shadow: 1px 1px 1px rgb(1,1,1,1); 
}

.home-p {
    margin: 1rem 0; 
    font-size: 1.25rem; 
    text-decoration: underline; 
}

.home-p ul {
    display:flex; 
    flex-direction: column; 
    width: 100vw;
}

li{
    padding: 0.25rem 0; 
}

li a:hover{
    color: blue; 
}



.lista li {
    display:flex; 
    flex-direction: row;
    align-items: center; 
}


/* Forms */

.form form {
    display:flex; 
    flex-direction: column; 
}

.form form > * {
    margin-bottom: 0.5rem; 
}


/* team */

.teamDisplay {
    display: flex; 
    flex-direction: row; 
    justify-content: center; 
    align-items: center; 
}

.teamDisplay form {
    margin-left: 1rem; 
}


/* buttons */
.btnDelete {
    border: none; 
    background-color: #f85e5e; 
    color: white; 
    padding: 0.5rem; 
    margin-left: 1rem; 

}

.btnDelete:hover {
    background-color: #d33232; 
    cursor: pointer; 
}

.btnEdit {
    border: none; 
    background-color: #6175e6; 
    color: white; 
    padding: 0.5rem; 
    margin-left: 1rem; 
}

.btnEdit:hover {
    background-color: #2e5cbe; 
    cursor: pointer; 
}

/* Footer */
footer {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    background-color: rgb(47, 47, 139);
    text-align: center; 
    padding: 0.5rem; 
    color: white; 
    position: fixed; 
    bottom: 0px; 
    width: 100vw; 
    height: 5vh; 
}
