@model AWWW_lab1_gr2.Models.League

<h1>Dodaj Ligę</h1>

<form asp-action="Add" method="post" class="w3-container">
    <p>
        <label asp-for="Name">Nazwa:</label>
        <input asp-for="Name" class="w3-input w3-border"></input>
        <label asp-for="Country">Kraj:</label>
        <input asp-for="Country" class="w3-input w3-border"></input>
        <label asp-for="Level">Level:</label>
        <input asp-for="Level" class="w3-input w3-border"></input>
    </p>
    <p>
        <button type="submit" class="w3-btn w3-border">Dodaj</button>
    </p>
</form>