@model AWWW_lab1_gr2.Models.League

<h1>Dodano ligę:</h1>

<div class="w3-card">
    <div class="w3-container">
        <p>@Model.Name</p>
        <p>@Model.Country</p>
        <p>@Model.Level</p>
    </div>
</div>
