:root {
  --main-padding: 60px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
  grid-template-rows: max-content 1fr max-content;
  min-height: 100vh;
}

.site-header {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 20px var(--main-padding);
}

.site-header h1 {
  font-size: 20px;
  color: rgb(13, 13, 144);
}

.site-nav ul {
  display: flex;
  gap: 20px;
  list-style-type: none;
  align-items: center;
}

.site-nav li a {
  text-decoration: none;
  color: inherit;
  padding: 5px;
}

.site-nav li a:hover {
  text-decoration: underline;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown::after {
  position: absolute;
  content: '';
  width: 100%;
  top: 20px;
  left: 0;
  /* background-color: red; */
  height: 30px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  z-index: 1;
  top: 40px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

/* Style for the dropdown items */
.dropdown-content a {
  color: black;
  display: block;
  padding: 12px 16px !important;
  text-decoration: none;
}

/* Change color of dropdown items on hover */
.dropdown-content a:hover {
  background-color: #f1f1f1;
}

/* Show the dropdown content when hovering over the dropdown button */
.dropdown:hover .dropdown-content {
  display: block;
}

main {
  padding: 40px var(--main-padding);
}

.page-title {
  margin-bottom: 20px;
}

.page-subtitle {
  margin: 40px 0 20px 0;
}

.site-footer {
  background-color: rgb(26, 26, 63);
  color: rgb(221, 221, 221);
  padding: 20px var(--main-padding);
}

.list {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
