@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


@{
    ViewData["Title"] = "Home Page";
}


<div>
    <h1>Hello</h1>
    <nav>
        <ul>
            <li><a asp-controller="author" asp-action="add" asp-route-id="1">Add Author</a></li>
            <li><a asp-controller="category" asp-action="add" asp-route-id="2">Add Category</a></li>
            <li><a asp-controller="eventType" asp-action="add" asp-route-id="3">Add Event Type</a></li>
            <li><a asp-controller="league" asp-action="add" asp-route-id="4">Add League</a></li>
            <li><a asp-controller="position" asp-action="add" asp-route-id="5">Add Position</a></li>
            <li><a asp-controller="tag" asp-action="add" asp-route-id="6">Add Tag</a></li>
            <li><a asp-controller="team" asp-action="add" asp-route-id="7">Add Team</a></li>
        </ul>
    </nav>
</div>
