<h1>@ViewBag.Title</h1>

<p>Witamy na stronie głównej</p>

<p>
    <ul>
        <li><a asp-controller='author' asp-action='index' >Autorzy</a></li>
        <li><a asp-controller='category' asp-action='index' >Kategorie</a></li>
        <li><a asp-controller='tag' asp-action='index' >Tagi</a></li>
        <li><a asp-controller='league' asp-action='index' >Ligi</a></li>
    </ul>
    
   
</p>
