@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p><a class="btn btn-primary" asp-controller="author" asp-action="add">Dodaj autora</a></p>
    <p><a class="btn btn-primary" asp-controller="category" asp-action="add">Dodaj kategorie</a></p>
    <p><a class="btn btn-primary" asp-controller="tag" asp-action="add">Dodaj tag</a></p>
    <p><a class="btn btn-primary" asp-controller="league" asp-action="add">Dodaj lige</a></p>
    <p><a class="btn btn-primary" asp-controller="eventtype" asp-action="add">Dodaj rodzaj wydarzenia</a></p>
    <p><a class="btn btn-primary" asp-controller="position" asp-action="add">Dodaj pozycje</a></p>
    <p><a class="btn btn-primary" asp-controller="team" asp-action="add">Dodaj drużyne</a></p>
    <p><a class="btn btn-primary" asp-controller="player" asp-action="add">Dodaj zawodnika</a></p>
</div>


