@model AWWW_lab1_gr2.Models.Article

<div class="main">
    <div class="container">
        <div class="form">
            <form asp-controller="Article" asp-action="Add">
                <label asp-for="Title"></label>
                <input asp-for="Title">
                <label asp-for="Content"></label>
                <input type="messagebox" asp-for="Content">
                <label asp-for="CreationDate"></label>
                <input asp-for="CreationDate">
                <label asp-for="Author"></label>
                <select asp-for="AuthorId" asp-items="@ViewBag.Authors"></select>
                <label asp-for="Category"></label>
                <select asp-for="CategoryId" asp-items="@ViewBag.Categories"></select>
                <label asp-for="Tags"></label>
                <select name="selectedTagIds" asp-items="@ViewBag.Tags" multiple="multiple"></select>

                <input type="hidden" asp-for="Comments">
                <input type="hidden" asp-for="Match">

                <button type="submit">Zapisz</button>
            </form>
        </div>
    </div>
</div>