@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


<h1>@ViewBag.Title</h1>

<p>Witamy na stronie glownej</p>

<p>
    Artykuly:
    <ul>
        <li><a asp-controller="home" asp-action="index">Home </a></li>
    </ul>

</p>