@model AWWW_lab1_gr2.Models.Article

<h1>@Model.Title</h1>
<h2>WItamy na stronie artykulu</h2>
<div class="article">
    <p class="article-date">
    Data utworzenia: @Model.CreationDate.ToShortDateString()
    </p>
    <p class="article-content">
        @Model.Content
    </p>
</div>