@model AWWW_lab1_gr1.Models.MatchEvent

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>MatchEvent</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Minute" class="control-label"></label>
                <input asp-for="Minute" class="form-control" />
                <span asp-validation-for="Minute" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EventTypeId" class="control-label"></label>
                <select asp-for="EventTypeId" class="form-control" asp-items="ViewBag.EventTypeId"></select>
                <span asp-validation-for="EventTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MatchId" class="control-label"></label>
                <select asp-for="MatchId" class="form-control" asp-items="ViewBag.MatchId"></select>
                <span asp-validation-for="MatchId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MatchPlayerId" class="control-label"></label>
                <select asp-for="MatchPlayerId" class="form-control" asp-items="ViewBag.MatchPlayerId"></select>
                <span asp-validation-for="MatchPlayerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

