@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<h1>@ViewBag.Title</h1>

    <ul>
        <li> Pierniki </li>
        <li> Chrupki </li>
        <li> Bulki </li>
        <li> Cukierki </li>
    </ul>
