@model ICollection<AWWW_lab1_gr1.Models.Article>

@if (Model != null)
{
    @foreach (var art in Model)
    {
        <div class="Article">
            <h2>@art.Title</h2>
            <h3>@art.Lead</h3>
            <p><a asp-action="details" asp-asp-controller="Article" asp-route-itemid="@art.Id">Czytaj dalej</a></p>
        </div>
    }

}
