<head>
     <link rel="stylesheet" href="~/css/site.css" />
</head>
@model AWWW_lab1_gr1.Models.Article

   <h1 class="artykul"> @Model.Title </h1>
   <div class="cont">
   <P>Data utworzenia: @Model.CreationDate.ToShortDateString()</P>
<p>
 @Model.Content
</p>
   </div>
