@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model AWWW_lab1_gr1.Models.Article

<h1>@Model.Title</h1>
<p>
    Data utworzenia: @Model.CreationDate.ToShortDateString()
</p>
<p>
    @Model.Content
</p>