@model ICollection<AWWW_lab1_gr1.Models.Article>

<p><a asp-action="Index" asp-controller="Article">Dodaj</a></p>

@if (Model != null)
{
    @foreach(var art in Model) 
    {
        <h3><a asp-action="Index" asp-controller="Article" asp-route-id="@art.Id">@art.Id, @(art.Title)</a></h3>
    }
}






