@model AWWW_lab1_gr1.Models.EventType

<form method="post">
    <p>
        <label asp-for="Name">Name: </label>
        <input asp-for="Name"/>
    </p>
    <p>
        <button type="submit">Dodaj</button>
    </p>
</form>