@model ICollection<AWWW_lab1_gr1.Models.EventType>

<p><a asp-action="Add" asp-controller="EventType">Dodaj</a></p>

@if (Model != null)
{
    @foreach(var evty in Model) 
    {
        <h3><a asp-action="Index" asp-controller="EventType" asp-route-id="@evty.Id">@evty.Id, @(evty.Name)</a></h3>
    }
}