<h1>@ViewBag.Title</h1>
<p>WItamy na stronie głównej</p>

<p>
    Artykuły: 

    <ul>
        <li><a asp-controller="article" asp-action="index" asp-route-id=1>Artykul 1</a></li>
        <li><a asp-controller="article" asp-action="index" asp-route-id=2>Artykul 2</a></li>
        <li><a asp-controller="article" asp-action="index" asp-route-id=3>Artykul 3</a></li>
    </ul>
</p>