<h1>@ViewBag.Title</h1>
<p>Witamy na stronie glownej</p>
<p>
Artykuly
<ul>
<li><a asp-controller="article" asp-action="index" asp-route-itemid=1>Artykul 1</a></li>
<li><a asp-controller="article" asp-action="index" asp-route-itemid=2>Artykul 2</a></li>
<li><a asp-controller="article" asp-action="index" asp-route-itemid=3>Artykul 3</a></li>
<li><a asp-controller="article" asp-action="index" asp-route-itemid=4>Artykul 4</a></li>
</ul>
</p>