@* AWWW$2024@#PCz *@
<h1>@ViewBag.Title</h1>

<p>Witamy na stronie głównej</p>

<p>
    Artykuły:
    <ul>
        <li><a asp-controller="article" asp-action="index" asp-route-id=1>Artykuł 1</a></li>
        <li><a asp-controller="article" asp-action="index" asp-route-id=2>Artykuł 2</a></li>
        <li><a asp-controller="article" asp-action="index" asp-route-id=3>Artykuł 3</a></li>
    </ul>
    Lista studentów:
    <a asp-controller="studenci" asp-action="index">Link</a><br>

    Autorzy:
    <a asp-controller="author" asp-action="index">Link</a><br>

    Kategorie:
    <a asp-controller="Category" asp-action="index">Link</a><br>

    Tagi:
    <a asp-controller="Tag" asp-action="index">Link</a><br>

    Ligi:
    <a asp-controller="League" asp-action="index">Link</a><br>

    Rodzaje wydarzeń:
    <a asp-controller="EventType" asp-action="index">Link</a><br>

    Pozycje:
    <a asp-controller="Position" asp-action="index">Link</a><br>

    Drużyny:
    <a asp-controller="Team" asp-action="index">Link</a><br>
</p>