<h2>@ViewBag.Title</h2>
<p>Witamy na stronie glownej</p>
<p>
    Artykuly:
    <ul>
        <li><a asp-controller="article" asp-action="index" asp-route-id=1>Artykul 1</a></li>
        <li><a asp-controller="article" asp-action="index" asp-route-id=2>Artykul 2</a></li>
        <li><a asp-controller="article" asp-action="index" asp-route-id=3>Artykul 3</a></li>
        <li><a asp-controller="student" asp-action="index" asp-route-id="0">Lista studentow</a></li>
    </ul>
</p>