<h1>@ViewBag.Title</h1>
<p>witamy</p>
<p>
    artykuły:
    <ul>
        <li><a asp-controller="article" asp-action="index" asp-route-id="1">artykół</a></li>
        <li><a asp-controller="article" asp-action="index" asp-route-id="2">artykół</a></li>
        <li><a asp-controller="article" asp-action="index" asp-route-id="3">artykół</a></li>
    </ul>
</p>