
<div class="main">
    <div class="container">
        <div class="title">
            <h1>@ViewBag.Title</h1>
            <h2>Witamy na stronie głównej</h2>
        </div>
        <div class="articles">
            <p class="home-p home-articles">
                Artykuły: 

                <ul>
                    <li><a asp-controller="article" asp-action="index" asp-route-id=1>Artykul 1</a></li>
                    <li><a asp-controller="article" asp-action="index" asp-route-id=2>Artykul 2</a></li>
                    <li><a asp-controller="article" asp-action="index" asp-route-id=3>Artykul 3</a></li>
                </ul>

            </p>
        </div>
        <div class="students">
            <p class="home-p home-students">
                Studenci:
                <ul>
                    <li><a asp-controller="studentlist" asp-action="index">Studenci</a></li>
                </ul> 
            </p>
        </div>
    </div>
</div>