@model AWWW_lab1_gr2.Models.Author
<h1>@ViewBag.Header</h1>

<form asp-action="dodaj" method="post">
    <input asp-for="Id" type="hidden"/>
    <p>
        <label asp-for="FirstName">Imię:</label>
        <input asp-for="FirstName"/>
    </p>
    <p>
        <label asp-for="LastName">Nazwisko:</label>
        <input asp-for="LastName">
    </p>
    <p>
        <button type="submit">@ViewBag.ButtonText</button>
    </p>    
</form>