@model AWWW_lab1_gr2.Models.Author

<div class="main">
    <div class="container">
        <div class="title">
            <h1>@ViewBag.Title</h1>
        </div>
        <div class="form form-author">
            <form asp-action="Add" asp-controller="Author">
                @* <input type="text" name="authorId" id="id">
                <input type="text" name="authorFirstName" id="firstName">
                <input type="text" name="authorLastName" id="lastName"> *@
                @* <label asp-for="AuthorId"></label>
                <input asp-for="AuthorId"> *@
                <label asp-for="FirstName"></label>
                <input asp-for="FirstName">
                <label asp-for="LastName"></label>
                <input asp-for="LastName">
                <input type="submit">
            </form>
        </div>
    </div>
</div>