@model IEnumerable<AWWW_lab1_gr2.Models.Author>


<div class="main">
    <div class="container">
        <div class="title">
            <h1>@ViewBag.Title</h1>
        </div>
        <div class="authors">
            @foreach(var author in Model){
                <li>
                    <div asp-route-id="@author.AuthorId">@author.FirstName @author.LastName</div> 
                </li>
            }
        </div>
        <div class="addAuthor">
            <a asp-action="form" asp-controller="author">Dodaj autora</a>
        </div>
    </div>
</div>