<h1>Lista autorów</h1>
<form>
    <label for="Id">Id:</label>
    <input type="text" id="Id"/>
    <br/>
    <label for="imie">Imię:</label>
    <input type="text" id="imie"/>
    <br/>
    <label for="nazwisko">Nazwisko:</label>
    <input type="text" id="nazwisko"/>
    <br/>
    <input type="button" id="dodaj" value="Dodaj do listy"/>
</form>