@model ICollection<AWWW_lab1_gr2.Models.Author>;

<h1>Lista autorów</h1>

<ul>
    @foreach (AWWW_lab1_gr2.Models.Author autor in @Model){
        <li>Autor @autor.Id: <ul>
                <li>Imie: @autor.FirstName</li>
                <li>Nazwisko: @autor.LastName</li>
                <li>Artykuły: @if(autor.Articles != null) {autor.Articles.ToString();}</li>
                <li><a asp-controller="author" asp-action="Dodaj" asp-route-id="@autor.Id">Edytuj</a></li>
            </ul>
        </li>
    }
</ul>

<h3><a asp-controller="author" asp-action="Dodaj">Dodaj</a></h3>