@model AS_l2.Models.Article

<h1>Dodano artykuł:</h1>

<div class="w3-card">
    <header class="w3-container w3-blue">
        <h1>@Model.Title</h1>
    </header>

    <div class="w3-container">
        <p>@Model.Lead</p>
        <p>@Model.Content</p>
    </div>

    <footer class="w3-container w3-blue">
        <h5>@Model.CreationDate.ToShortDateString()</h5>
    </footer>
</div>


