@model AWWW_lab1_gr1.Models.Player

<h2>Add player</h2>

<form asp-action="Add" method="post">
    <div class="form-group">
        <label asp-for="FirstName" class="control-label"></label>
        <input asp-for="FirstName" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="LastName" class="control-label"></label>
        <input asp-for="LastName" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Country" class="control-label"></label>
        <input asp-for="Country" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="BirthDate" class="control-label"></label>
        <input asp-for="BirthDate" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Positions" class="control-label"></label>
        <select asp-for="Positions" class ="form-control" multiple asp-items="ViewBag.PositionsList"></select>
    </div>
    <div class="form-group">
        <label asp-for="Team" class="control-label"></label>
        <select asp-for="Team" class ="form-control" asp-items="ViewBag.TeamsList"></select>
    </div>
    <div class="form-group">
        <button type="submit" class="w3-btn w3-border">Dodaj</button>
    </div>
</form>
