@model IEnumerable<AWWW_lab1_gr1.Models.Player>

<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>FirstName</th>
            <th>LastName</th>
            <th>Country</th>
            <th>DateOfBirth</th>
            <th>TeamId</th>
        </tr>
    </thead>
    <tbody>
        @if(Model!= null)
        {
            foreach(var player in Model)
            {
                
            }
        }
    </tbody>
</table>
