<!DOCTYPE html>
    <html lang="pl">
    <head>
        <meta charset="utf-8"/>
        <link href="~/css/site.css" rel="stylesheet" asp-append-version="true" />
        <title></title>
    </head>
    <body>
        <header>
            <nav>
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-controller="Articles" asp-action="Index">Artykuły</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link text-dark" asp-controller="Authors" asp-action="Index">Authors</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link text-dark" asp-controller="Category" asp-action="Index">Category</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link text-dark" asp-controller="Tags" asp-action="Index">Tags</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link text-dark" asp-controller="Leagues" asp-action="Index">Leagues</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link text-dark" asp-controller="Positions" asp-action="Index">Positions</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link text-dark" asp-controller="EventTypes" asp-action="Index">EventTypes</a>
                    </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-controller="Team" asp-action="Index">Teams</a>
                </li>
                </ul>
            </nav>
        </header>
        <main>
            @RenderBody()
        </main>    
        <footer>
            &copy; 2024
        </footer>
    </body>
    </html>