<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav>
            <ul class="navbar-nav flex-grow-1">
                <li class = "nav-item">
                    <a class="nav-link text-dark" asp-controller="Home" asp-action="Index">Home</a>
                </li>
                  <li class="nav-item">
                        <a class="nav-link text-dark" asp-controller="Students" asp-action="Index">Students</a>
                    </li>
            </ul>
        </nav>
    </header>
    <main>
        @RenderBody()
    </main>
    
    <footer>
        &copy; 2024 Khoruzhyi Oleksii 
    </footer>
</body>
</html>