<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true">
</head>
<body>
    <header>
        <nav>
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-controller="Home" asp-action="Index">Home</a>
                    <a class="nav-link text-dark" asp-controller="Article" asp-action="Add">Dodaj artyku³</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        @RenderBody()
    </main>
    <footer>
        &copy; 2022
    </footer>
</body>
</html>
