@model AWWW_lab1_gr1.Models.Category

<form method="post">
    <p>
        <label asp-for="Name">Name: </label>
        <input asp-for="Name"/>
    </p>
    <button type="submit">Dodaj</button>
</form>