@model Category

<h1>Add Category</h1>
<form asp-action="Add" asp-controller="categories">
    <p>
        <label asp-for="Name"> Name</label><br />
        <input type="text" asp-for="Name" />
    </p>
   
    <p>
        <input type="submit" value="Create" />
    </p>
</form>