@model AWWW_lab1_gr1.Models.Category

<h1>Category</h1>

<div class="w3-card">
    <header class="w3-container w3-blue">
        
    </header>

    <div class="w3-container">
        <p>@Model.Name</p>
    </div>
    
</div>


