@model ICollection<AWWW_lab1_gr1.Models.Category>

<p><a asp-action="Add" asp-controller="Category">Dodaj</a></p>

@if (Model != null)
{
    @foreach(var category in Model) 
    {
        <h3><a asp-action="Index" asp-controller="Category" asp-route-id="@category.Id">@category.Id, @(category.Name)</a></h3>
    }
}