<h1>@ViewBag.Title</h1>

<p>Witamy na liście studentów</p>

<p>
    Studenci:

    <ul>
        <li><a asp-controller="student" asp-action="index" asp-route-itemid=1>Student 1</a></li>
        <li><a asp-controller="student" asp-action="index" asp-route-itemid=2>Student 2</a></li>
        <li><a asp-controller="student" asp-action="index" asp-route-itemid=3>Student 3</a></li>
    </ul>
</p>