<h1>@ViewBag.Title</h1>

<p>Witamy na stronie głównej</p>

<p>
    Artukuły:
    <ul>
        <li><a asp-controller="student" asp-action="index" asp-route-id=1>Student 1</a></li>
        <li><a asp-controller="student" asp-action="index" asp-route-id=2>Student 2</a></li>
        <li><a asp-controller="student" asp-action="index" asp-route-id=3>Student 3</a></li>
    </ul>
</p>