@model IEnumerable<AWWW_lab3_gr2.Models.League>

<h1>Ligi</h1>

<div class="w3-card">
    @foreach (var league in Model)
    {
        <div class="w3-container">
            <p>@league.Name, @league.Country, @league.Level</p>
            <p>@string.Join(',', league.Teams.Select(a => a.Name))</p>
        </div>
    }
</div>
