@model AWWW_lab2_gr2.Models.Position;

<form asp-controller="eventType" asp-action="add" method="POST">
    Nazwa typu wydarzeń: <input type="text" asp-for="Name"><br>

    <input type="submit" value="Wyślij">
</form>