@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


body{
    font-family: Montserrat;
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    color: white;
    text-align: center;
}

li{
    text-decoration: none;
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}

a{
    text-decoration: none;
    color: white;
    text-decoration: underline;
}
  
  ul {
    list-style-position: inside;
    margin-left: 0;
    padding-left: 0;
  }