@model ICollection<AWWW_lab1_gr1.Models.Tag>
 
<h2 class="list-title">Tag List</h2>
<a asp-action="Add" ><p class="text-block">Add Tag</p></a>
<table class="text-block">
     <tr><th><p>Name</p></th></tr>
    @foreach (var element in Model)
    {
        <tr>
            <td><p>@element.Name</p></td>
        </tr>
    }
</table>