*{
    margin: 0;
    padding: 0;
    
}
html,
body{
    background-color: rgb(33, 33, 33);
    height: 100%;
}

p{
    color: rgb(236, 236, 236);
}

li{
    margin-block: 3px;
}


.wrapper{
    position: relative;
	min-height: 100%;
}



.text-dark{
    color: rgb(236, 236, 236);
	background-color: transparent;
	text-decoration: none;
}



.navbar-nav{
    background-color: rgb(20,20,20);
    display: flex;
    flex-direction: row;
    
}



.nav-item{
    margin-left: 3px;
    height: 100%;
    padding-block: 10px;
    
    

    font-size: 40px;

    list-style-type: none;

    
    
       
}



.nav-link{
    padding-block: 9px;
    padding-inline: 20px;

    border: 1px solid;
    border-radius: 10px;
    border-color:rgb(20,20,20);

}

.nav-link:hover{
    background-color: rgb(33, 33, 33);
    color:rgb(236, 236, 236);
}

.title{
    margin: 15px;
    margin-left: 10px;
    
    font-size: 30px;
}

.list-title{
    margin:10px;
    margin-left: 30px;

    font-size: 25px;
    
}

.text-block{
    margin: 10px;
    margin-left: 30px;
}

.list-elements{
    
    margin-left: 60px;

    
}

main{
    padding-bottom: 90px;
}

footer{
    color: rgb(236, 236, 236);
    background-color: rgb(20,20,20);

    position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 40px;
    

}