body{
    font-family: Arial;
    margin:40px;
}

h1{
    color:#2c3e50;
}

ul{
    list-style:none;
    padding:0;
}

li{
    padding:10px;
    margin:5px;
    background:#f2f2f2;
}

a{
    margin-left:10px;
    color:blue;
}