* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 24px;
    height:100vh;
}

header {
    height:10%;
            background-color: gray;
    nav {
        height:100%;
        ul {
            height:100%;
            display: flex;
            text-align:center;
            justify-content:left;
            align-items:center;
            padding:40px;
            li {
                list-style-type: none;
                padding-right:30px;
            }
        }
    }
}

main{
    background-color:whitesmoke;
    height:85%;
}

footer {
    display:flex;
    justify-content:center;
    align-items:center;
    height:5%;
    background-color: gray;
}
